@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body, html {
	height: 100%;
}

*, input, textarea {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}

#root {
	background: #fcfcfc;
	min-height: 100%;
	overflow: auto;
}

.page-header {
	background: #f58763;
	padding: 30px;
	color: white;
	text-align: center;
	box-shadow: 0 0 5px 2px silver;
}

.page-header .logo {
	background-image: url("../img/lotus.png");
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
	position: absolute;
}

.page-header h1 {
	font-weight: 600;
	font-size: 40px;
	padding-bottom: 30px;
}

.page-header h3 {
	font-weight: 400;
}

.content-area {
	text-align: center;
	width: 700px;
	margin: 0 auto;
}

.textarea-wrapper {
	margin: 40px 0 10px 0;
	position: relative;
}

#feed-content {
	width: 100%;
	resize: none;
	padding: 20px;
	border: 1px solid transparent;
	display: inline-block;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	transition: 0.5s ease-out;
	font-size: 18px;
}

.symbols-counter {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: silver;
}

#feed-content:focus {
	border: 1px solid #2bbbad;
}

.button-wrapper {
	text-align: right;
}

.btn {
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	outline: 0;
	padding: 0 2rem;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	color: #fff;
	background-color: #26a69a;
	text-align: center;
	letter-spacing: .5px;
	cursor: pointer;
	transition: 0.3s ease-out box-shadow, 0.3s ease-out background-color;
}

.btn:hover {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	background-color: #2bbbad;
}

.btn:active {
	position: relative;
	top: 1px;
}

.feed-container {
	margin: 20px 0;
}

.video-container {
	background: white;
	padding: 20px 0 -5px;
	margin: 40px 0;
	border: 1px solid silver;
	box-shadow: 0 0 20px 13px #f8f8f8;
}

.video-title {
	margin: 20px;
	font-weight: 500;
}

.video-footer {
	overflow: hidden;
	padding: 10px;
}

.left-video-description, .btnDel {
	height: 30px;
}

.left-video-description {
	float: left;
	line-height: 30px;
	color: #989898;
	font-weight: 300;
}

.btnDel {
	float: right;
	width: 30px;
}

.btnDel > img {
	max-width: 100%;
	cursor: pointer;
	transition: 0.3s transform ease-out, 0.5s opacity ease-out;
	opacity: 0.7;
}

.btnDel > img:hover {
	transform: rotate(-360deg);
	opacity: 1;
}

.btnDel > img:active {
	max-width: 90%;
}

.left-aligned {
	text-align: left;
}

.left-aligned > .video-title {
	margin: 20px 10px;
}

.thumbnail {
	position: absolute;
	left: 100%;
	width: 120px;
	height: 90px;
	margin: 37px 20px;
}

.thumbnail > img {
	max-width: 100%;
}